extends ../layouts/page

block content
  .page-header
    h1.page-title= header
    a.button(href=route('newCourse')) Новый курс

  form.search-form(role='form' method='GET' action=route('courses'))
    label.search-field
      span Поиск по названию
      input(type='search' name='term' value=term placeholder='Например, Python')
    label.search-field
      span Поиск по описанию
      input(type='search' name='descriptionTerm' value=descriptionTerm placeholder='Например, REST API')
    input.search-submit(type='submit' value='search')

  if courses.length
    ul.course-list
      each course in courses
        li.course-card
          a(href=routes.coursePath(course.id))
            h2= course.title
            p= course.description
  else
    p.lead Курсы не найдены. Попробуйте изменить параметры поиска.
